$brown: #9e8870;
$lightBrown: #f0e3db;
$lBrown: lighten(#827262, 38%);

// RSCSS
// see more: https://rscss.io/index.html

// RSuite form style
.auth-form {
	background-color: #ffffff;
	width: 288px;
	height: 380px;
	padding: 20px;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.12), 0 0 10px rgba(0, 0, 0, 0.06);
	text-align: center;

	> .title {
		font-size: 24px;
		color: #3498ff;
	}

	> .field {
		position: relative;
		height: 47px;

		> .label {
			position: absolute;
			left: 50px;
			bottom: 9px;
			font-size: 17px;
			user-select: none;
			z-index: 1;
			transition: all 0.25s ease;
			transform: translateZ(0);
			z-index: 2;
		}

		> .input {
			height: inherit;
			border-radius: 6px 6px 6px 6px;

			> input { z-index: 1; }
			> input[type=text],
			> input[type=email] {
				color: black;
				background: transparent;
			}

			// Input icon background
			> .rs-input-group-addon {
				display: flex;
				justify-content: center;
				width: 40px;
			}
		}

		> .marker {
			position: absolute;
			top: -10px;
			right: -6px;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			z-index: 99;
			margin: 0;
			border: 1px solid transparent;

			.rs-icon {
				width: inherit;
				height: inherit;
				padding: 0;
				color: white;
				line-height: 20px;
			}
		}

		> .marker.-info {
			visibility: visible;
			cursor: pointer;
			border: 1px solid #3498ff;

			.rs-icon {
				font-size: 14px;
			}
		}

		> .marker.-success {
			visibility: hidden;
		}

		&.-active {
			> .label {
				left: 5px;
				transform: translateY(-30px) scale(0.83);
				transform-origin: left;
				color: $brown;
				line-height: 30px;
			}
		}

		// show icons when this state
		&.-valid,
		&.-error {
			> .marker.-info {
				visibility: hidden;
			}

			> .marker.-success {
				border: 1px solid green;
			}
		}

		// valid state
		&.-valid {
			> .input {
				border-color: green;

				> input[type="text"] {
					color: green;
				}
				> input[type="email"] {
					color: green;
				}
			}

			> .marker.-success {
				visibility: visible;
				color: green;
			}
		}

		// error state
		&.-error {
			> .icon.-error {
				color: red;
			}
		}
	}

	> .submit {
		> .button {
			width: 100%;
		}
	}
}

.rules-window {
	width: 100vw;
	height: 100vh;
	margin: 0;

	.rs-modal-title {
		color: #3498ff;
	}

	> .rs-modal-dialog {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: inherit;
		width: inherit;
	}

	.rules {
		width: 100%;
		list-style: none;
		padding-inline-start: 0;

		> .item {
			position: relative;
			transition: opacity 0.2s;
			color: #827262;
			transform: translateZ(0);
			line-height: 2;
			text-align: left;
			font-size: 13px;
		}

		> .item.-passed {
			opacity: 0.55;
			text-decoration: line-through;
		}
	}
}
