$brown: #9E8870;
$lightBrown: #F0E3DB;
$lBrown: lighten(#827262, 38%);

// RSuite form style
.form-rsuite {
	background: #FFFFFF;
	width: 288px;
	height: 360px;
	padding: 40px 20px;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.12), 0 0 10px rgba(0, 0, 0, 0.06);
	border-radius: 6px;

	// Input icon background
	.rs-input-group-addon {
		display: flex;
		justify-content: center;
		width: 40px;
	}

	.rs-form-group {
		padding: 0;
	}

	.textbox .icon {
		top: 12px;
		right: 15px;
	}

	.textbox > .textbox__label {
		left: 50px;
	}

	.textbox.textbox_active > .textbox__label {
		left: 0;
		margin-bottom: 5px;
	}

	.rs-btn.rs-btn-primary {
		width: 100%;
	}

	.rules {
		left: 20px;
	}

}
