$brown: #9e8870;
$lightBrown: #f0e3db;
$lBrown: lighten(#827262, 38%);

body {
	background-color: #fcfcfc;
	font-size: 16px;
	font-family: "Montserrat", sans-serif;
	color: #372717;
}

.App {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	grid-gap: 20px;
	width: 100vw;
	height: 100vh;
	background-color: #f2fbfe;
}
