body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FCFCFC;
	min-height: 100vh;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	color: #372717;
}

.App {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-items: center;
	grid-gap: 200px;
	width: 100vw;
	min-height: 100vh;
	background-color: #F2FBFE;

	.form:nth-child(1) {
		justify-self: end;
	}

	.form:nth-child(2) {
		justify-self: start;
	}
}
